@import "tailwindcss";
.hero-title {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}
body {
  background-color: #000;

  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.03) 0,
      rgba(255, 255, 255, 0.03) 3px,
      transparent 100px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.03) 0,
      rgba(255, 255, 255, 0.03) 3px,
      transparent 100px
    );

  background-size: 70px 70px;
}
